/* typewriter.css */
.typewriter-text {
    display: inline-block;
    height: 2em; /* Adjust the height as needed */
    overflow: hidden;
    font-weight: 400;
    font-size: 30px;
    line-height: 28px;
    color: #278227ff;
  }


  @media (max-width: 430px) {
    .typewriter-text {
        font-size: 22px;
    }
}

@media (max-width: 290px) {
  .typewriter-text {
    font-size: 18px;
}
}